In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn

In [15]:
df = pd.read_csv("datasets1.csv")

In [16]:
df2 = df.head(20000)

In [19]:
df2.to_csv('trail_dataset.csv', index = 0)

In [20]:
df3 = pd.read_csv("trail_dataset.csv")

In [21]:
df3.head()

   Price  Year  Mileage              City State   Make         Model
0   8995  2014    35725           El Paso    TX  Acura    ILX6-Speed
1  10888  2013    19606  Long Island City    NY  Acura    ILX5-Speed
2   8995  2013    48851           El Paso    TX  Acura    ILX6-Speed
3  10999  2014    39922           Windsor    CO  Acura    ILX5-Speed
4  14799  2016    22142            Lindon    UT  Acura  ILXAutomatic

In [17]:
df2.drop(['Vin'], axis = 1, inplace = True)

/home/kumar/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [5]:
a = pd.get_dummies(df['Make'])

In [6]:
a.head()

,AM,Acura,Alfa,Aston,Audi,BMW,Bentley,Buick,Cadillac,Chevrolet,...,Saab,Saturn,Scion,Subaru,Suzuki,Tesla,Toyota,Volkswagen,Volvo,smart
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0